
<div class="home eight wide column">
  <h1>Welcome to Acme-Messaging</h1>


    <div class="ui buttons stackable four column grid" id="buttons">
      <%= link_to "SignUP", signup_path, class: "massive ui inverted yellow button"%>
      <div class="or"></div>
      <%= link_to "Login", login_path, class: "massive ui inverted yellow button" %>
    </div>


</div>
