<div class="ui    menu">
  
  <%= link_to "Home", root_path, class: "red item" %>
  <a class="item">
    Messages
  </a>
  <a class=" red item">
    Friends
  </a>
  <div class="right menu">
    
    <a class=" red ui item">
      Logout
    </a>
  </div>
</div>