<% if logged_in %>
<div class="ui    menu">


  <%= link_to "Chat", chatroom_path, class: "item" %>


  <%= link_to "Acme-Users", users_path, class: "red item" %>


<% end %>



<% if logged_in %>

  <div class="right menu">

    <a class="ui teal tag label"><%= current_user.username.capitalize %></a>
    <%= link_to "Logout", logout_path, class: "red ui item", method: :delete %>
  </div>

</div>

<% end %>
